@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');

body {
    background-image: url('images/back.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: 'Noto Serif KR', serif;
}

p {
    padding: 10px 10px 10px 20px;
    color: #fff;
    font-weight: 200;
    margin: 0px;
}

.main_title {
    font-size: 35px;
    color: #fff;
    padding: 20px;
    font-weight: 200;
    margin: 0px;
}

