<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:image" content="{{ "/assets/images/theme-image.png" | prepend: site.baseurl }}">
    <meta property="og:description" content="단상과 묵상이 있는 공간">
    <meta property="og:title" content="{{site.meta_title}}">
    <meta property="og:url" content="//{{site.url}}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="icon" href="/assets/images/favicon.png" type="image/x-icon">
    <meta name="naver-site-verification" content="a4251d9e2341cdbbbb3ea7076a8d1e5b2beef010" />

    <style>
    ::-webkit-scrollbar {
	width: 8px;  /* 스크롤바의 너비 */
	height: 8px; /* 수평 스크롤바의 높이 */
    }

    ::-webkit-scrollbar-track {
	background-color: #f1f1f1; /* 트랙의 배경 색상 */
    }

    ::-webkit-scrollbar-thumb {
	background-color: darkgrey;  /* 핸들의 색상 */
        border-radius: 10px;         /* 핸들의 모서리를 둥글게 */
    }

    ::-webkit-scrollbar-thumb:hover {
	background-color: #555; /* 핸들을 호버했을 때의 색상 */
    }

    

    </style>

  </head>
  <body>
    <div class="wrap">
      {{ content }}
    </div>
  </body>
</html>
