---
layout: default
---

<h3 class="header__title">{{ page.title }}</h3>
<article class="post post-list" itemscope itemtype="http://schema.org/BlogPosting">
  <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" style="color:#FFF">
    {{ page.date | date: "%b %-d, %Y" }}
  </time>

  <div class="post__content">
    {{ content | markdownify }}
  </div>

  <br>
  <a href="/blog" style="text-align:center">[목록]</a>
  &nbsp;
  <a href="#" onclick="copyPageUrl()">[주소복사]</a>
  &nbsp;
  <a href="/" id="homepage" style="display:none;">[첫화면]</a>

</article>

<script>
    if (window.self !== window.top) {
    // iframe 내부에서 실행되고 있음
    } else {
    // 직접 로드되고 있음
	document.body.style.background = "url('/assets/images/back2.png')";
	document.body.style.backgroundSize = "cover";
	document.body.style.backgroundAttachment = "fixed";
	document.body.style.padding = "0px 30px"
	document.getElementsByClassName('post')[0].style.background='rgba(0,0,0,0.4)';
	document.getElementsByClassName('post')[0].style.maxWidth='600px';
	document.getElementsByClassName('post')[0].style.padding='20px';
	document.getElementsByClassName('post')[0].style.margin='30px auto';
	document.getElementById('homepage').style.display='inline';
	
    }

    function copyPageUrl() {
    // 현재 페이지의 URL을 클립보드에 복사
    navigator.clipboard.writeText(window.location.href)
        .then(() => {
            alert("주소가 복사 되었습니다");
        })
        .catch(err => {
            console.error("복사 중 오류 발생. 다시 시도해 주세요", err);
        });
}

</script>

